<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Imobiliária de São Luís">
    <meta name="author" content="Pedro Brito">

    <title>KYM Imobiliária</title>

    <!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" th:href="@{/layout/css/bootstrap.min.css}"/>

	<!-- Meu css -->
	<link type="text/css" rel="stylesheet" th:href="@{/layout/css/dropdown-menu.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/layout/css/meucss.css}"/>
	<link type="text/css" rel="stylesheet" th:href="@{/layout/css/customcss.css}"/>
	

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" th:href="@{/kyzimobiliaria/home}">KYZ Imobiliária</a>
            </div>

            <!-- navbar -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a th:href="@{/kyzimobiliaria/cadastro-cliente}">Cliente</a>
                    </li>
                    <li class="page-scroll">
                        <a th:href="@{/kyzimobiliaria/cadastroprofissional}">Profissional</a>
                    </li>
                    <li class="page-scroll">
                        <a th:href="@{/kyzimobiliaria/cadastroimovel}">Imóvel</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Serviços</a>
                    </li>
                    <li class="page-scroll">
                        <div class="dropdown">
                          <button class="dropbtn">BUSCAR</button>
                          <div class="dropdown-content">
                            <a th:href="@{/kyzimobiliaria/buscar/clientes}">Cliente</a>
                            <a th:href="@{/kyzimobiliaria/buscar/profissional}">Profissional</a>
                            <a th:href="@{/kyzimobiliaria/imoveis}">Imóvel</a>
                          </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- navbar -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Main -->
    <section class="main" layout:fragment="conteudo-principal">
        <div class="container">
           
        </div>
    </section>

    
    <!-- Footer -->
    <footer class="text-center">        
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; KYZ Imobiliária 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>   
    
    <script th:src="@{/layout/js/jquery-3.1.1.min.js}"></script> <!--Adiciona o JQuery -->
    <script th:src="@{/layout/js/bootstrap.min.js}"></script> <!-- Adiciona o javascript Bootstrap -->
    <script th:src="@{/layout/js/meujs.js}"></script> <!-- Adiciona meu JS -->

</body>

</html>
