<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default/default}">	
	
	<body>
	 	<main layout:fragment="conteudo-principal"></br>
	 		<div class="container">
	 			<h3>Profissionais cadastrados</h3></br>
		 		<table class="table table-striped">
		 			<thead>
		 				<th>#</th>
		 				<th>Nome Completo</th>
		 				<th>E-mail</th>
		 				<th>CRECI</th>
		 				<th>Telefone 01</th>
		 				<th>Telefone 02</th>
		 				<th>Valor hora/trabalho</th>
		 				<th>Ações</th>
		 			</thead>
		 			<tbody>
		 				<tr th:each="prof,conta : ${todosProfissionais}">
		 					<td th:text="${conta.count}"></td>
		 					<td th:text="${prof.nome}"></td>
		 					<td th:text="${prof.email}"></td>
		 					<td th:text="${prof.creci}"></td>
		 					<td th:text="${prof.telefone01}"></td>
		 					<td th:text="${prof.telefone02}"></td>
		 					<td th:text="${prof.valor_hora}"></td>
		 					<td> 
								<!-- Edição --> 
									<a data-th-href="@{/kyzimobiliaria/profissional/{id}(id=${prof.id_profissional})}" class="btn btn-default btn-xs" 
									   title="Editar" data-toggle="tooltip" data-placement="top"> 
									   <span class="glyphicon glyphicon-pencil"></span>
								  </a>
								  <button title="Excluir" th:attr="id=${prof.id_profissional}" onclick="modalExcluir(this.id)"
								      class="btn btn-default btn-xs">
								      <span class="glyphicon glyphicon-trash"></span> 
								  </button>
							</td>
		 				</tr>	 			
		 			</tbody>
		 		</table>
		 	</div> <!-- fim container -->     
		 	</br>
			</br>   
			
			<div th:replace="default/fragment-java-script :: bootstrap-jquery"></div>
			<div th:replace="default/fragment-java-script :: modal-profissional-js"></div>
		</main>
	</body>
</html>